ENV=local

SERVICE_NAME=sub-hub

LOG_LEVEL=info

HTTP_ADDR=:8080

DB_DSN=postgres://postgres:postgres@localhost:5432/subhub?sslmode=disable

TRACING_ENABLED=false
TRACING_ENDPOINT=localhost:4317
TRACING_SERVICE_NAME=sub-hub

OPENAPI_PATH=api/openapi.yaml
